{# templats/partials/_training_session_form.html #}
{% if form.errors %}
<div class="row justify-content-center">
    <div class="col-12 col-md-8">
        <div class="alert alert-danger">
            <ul>
                {% for field in form %}
                {% for error in field.errors %}
                <li><strong>{{ field.label }}</strong>: {{ error }}</li>
                {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endif %}
<form action="" method="POST">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="row">
        <div class="col-12">
            <div class="mb-3">
                <label for="{{ form.skill.id_for_label }}" class="form-label">Skill</label>
                {{ form.skill }}
                {{ form.skill.errors }}
            </div>
        </div>
        <div class="col-12">
            <div class="mb-3">
                <label for="id_date" class="form-label">Date</label>
                {{ form.date }}
                {{ form.date.errors }}
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="mb-3">
                <label for="id_start_time" class="form-label">Start Time</label>
                {{ form.start_time }}
                {{ form.start_time.errors }}
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="mb-3">
                <label for="id_end_time" class="form-label">End Time</label>
                {{ form.end_time }}
                {{ form.end_time.errors }}
            </div>
        </div>
        <div class="col-12">
            <button type="button" id="startStopSession" class="btn btn-primary text-white"><span id="act">Start</span> Session</button>
            <button class="btn btn-success float-end" type="submit">
                {{ button_latel|default:"Save"}}
            </button>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const controlBtn = document.querySelector('#startStopSession');
            controlBtn.addEventListener('click', () => {
                const now = new Date();
                const timeIs = now.toTimeString().slice(0, 5);
                // 
                const currentAction = controlBtn.querySelector("#act");
                const startInput = document.querySelector('#id_start_time');
                const endInput = document.querySelector("#id_end_time");
                //
                if (currentAction.innerText === "Start") {
                    currentAction.innerText = "End"
                    startInput.value = timeIs;
                } else {
                    currentAction.innerText = "Start"
                    endInput.value = timeIs;
                }
                //
            })
        })
    </script>
</form>