{% extends "magic/basics.html" %}
<!--  -->

{% block content %}
<div class="row justify-content-center">
    <div class="col-12 d-flex justify-content-end">
        <a type="button" class="btn btn-outline-success" href="{% url 'rpg:train' skill.id  %}">Back to training this skill</a>
    </div>
    <div class="col-12 col-sm-8 col-lg-6">
        <div class="row">
            <div class="col-12 my-5">
                <h1>
                    {{ session.skill.skill_name }}
                </h1>
            </div>
            <div class="col-12 my-5">
                {% include "partials/_training_session_form.html" with action_url=request.path button_label="Update Session" %}
            </div>
        </div>
    </div>
</div>
<!--  -->
{% endblock %}
<!--  -->